@font-face {
    font-family: regularFont;
    src: url('../assets/fonts/Eina\ 01\ Regular.otf');
}
.container {
    text-align: center;
    padding:1.25rem 1rem;
    background-color: white;
    border-top: 1px solid rgb(219,219,219);
    position: relative;
    bottom: 0;
    width: 100%;
}

.link {
    text-transform: uppercase;
    font-family: regularFont;
    font-size: .8rem;
    font-weight: 600;
}
.container span {
    font-family: regularFont;
}

.iconContainer {
    background-color: rgb(0,0,0);
    border-radius: 0.375rem;
    width: 1.875rem;
    height:1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom:2.5rem;
    right:2.5rem;
    z-index: 1000;
}

@media screen and (min-width: 93.5em) {
    .container {
        max-width: 93.5em;
        margin: auto;
    }
}